* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: #C1C1C1;
    display: flex;
    align-content: center;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center/* made unordered list a flex container */
}
nav a {
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: 1em; /* increases clickable area of anchor tags on all sides by 1em */

}
nav a:hover {
    background: blue;
}


.container {
    display: flex;
    justify-content: space-between;
    align-content: center;


}

.logo {
    display: flex;
    justify-content: center;
    align-content: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em ;
    margin: auto;

}

 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48
 }
