

.geocoder{
    display: flex;
    justify-content: center;
    width: 100%;
}
#search-btn{
    border-radius: 10px;
    background: orange;
    color: black;
    margin-left: 10px;
}
#search-box{
    width: 50%;
    height: 40px;
    background: white;
    color: blue;
}
.background{
    background-image: url(https://images.unsplash.com/photo-1527482937786-6608f6e14c15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1em;
    padding: 12px;
    width: auto;
    height: auto;
}
.date{
    display: flex;
    justify-content: center;
    background: deepskyblue;
    color: black;
    font-weight: bold;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.geocoder{
    padding-left: 10px;
}
.navbar{
    display: flex;
    background-color: deepskyblue;
    padding-left: 10px;
    padding-right: 10px;
}
.HR{
    background-color: black;
    height: 2px;
    width: 65%;
    padding: 0;
    margin: .05em;
}

#map {
    display: flex;
    align-content: center;
    justify-content: center;
    /* the width and height may be set to any size */
    width: auto;
    height: 500px;
    margin: 1em;
    /*border: black;*/
    padding: 12px;
}

#weather{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.weatherCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 2px;
    border-radius: 10px;
    width: 220px;
    color: lightgray;
    background-color: #B4835B; /* set a semi-transparent white background */
    backdrop-filter: blur(2px); /* apply a blur filter to create the frosted effect */
}