

#search-btn{
    border-radius: 10px;
    background: orange;
    color: black;
    margin-left: 10px;
}
#search-box{
    width: 50%;
    height: 40px;
    background: white;
    color: blue;
}

.date{
    display: flex;
    justify-content: center;
    background: deepskyblue;
    color: black;
    font-weight: bold;
    width: 100%;

}
.geocoder{
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    width: 25%;
}
.navbar{
    display: flex;
    background-color: #A6B3A9;
    padding-left: 10px;
    padding-right: 10px;
}
.HR{
    background-color: black;
    height: 5px;
    width: 65%;
    padding: 0;
    margin: .05em;
}

#map {
    display: flex;
    width: auto;
    height: 500px;
    opacity: .65;
    align-content: center;
    /*justify-content: center;*/
}
#map:hover {
    opacity: 1.0;
}

#weather{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.weatherCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px;
    border-radius: 5px;
    width: 300px;
    color: black;
    background-color: #B4835B;
    opacity: .7;
}

.weatherCards:hover {
    opacity: 1;
}

.background{
    background-image: url(https://images.unsplash.com/photo-1527482937786-6608f6e14c15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    /*margin: 1em;*/
    padding: 12px;
    width: auto;
    height: auto;
}